.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
.DS_Store
android/.gradle/
android/local.properties
android/key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
